<!DOCTYPE html>
<html>

<head>
    <title>Currency Converter</title>
    <link href='css/mian.css' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="mainApp">
        <v-app>
            <v-container grid-list-md text-xs-center>

                <!-- input -->
                <v-layout row wrap>
                    <v-flex xs12 md4>
                        <v-text-field v-model="inputAmount" label="Amount" :rules="[rules.number]">
                        </v-text-field>
                    </v-flex>
                    <v-flex xs12 md4>
                        <v-autocomplete v-model="fromCurrency" :items="getCurrencyList()" :label="`From Currency`"
                            :no-data-text="noCurrencyWarning" persistent-hint>
                            <v-slide-x-reverse-transition slot="append-outer" mode="out-in">
                            </v-slide-x-reverse-transition>
                        </v-autocomplete>
                    </v-flex>
                    <v-flex xs12 md4>
                        <v-autocomplete v-model="toCurrency" :items="getCurrencyList()" :label="`To Currency`"
                            persistent-hint :no-data-text="noCurrencyWarning">
                            <v-slide-x-reverse-transition slot="append-outer" mode="out-in">
                            </v-slide-x-reverse-transition>
                        </v-autocomplete>
                    </v-flex>
                </v-layout>

                <!-- Table -->
                <v-layout>
                    <v-flex xs12>
                        <v-data-table :headers="headers" :items="getCurrencyList()" :pagination.sync="pagination"
                            :rows-per-page-items="rowControl" class="elevation-1">
                            <template slot="items" slot-scope="props">
                                <td class="">
                                </td>
                                <td class="text-xs-center" v-bind:class="[props.item == toCurrency ? 'font-weight-bold title teal--text' : 'subheading']">
                                    {{ props.item }}
                                </td>
                                <td cclass="text-xs-center" v-bind:class="[props.item == toCurrency ? 'font-weight-bold title teal--text' : 'subheading']">
                                    {{ getCalculatedAmount(props.item) }}
                                </td>
                                <td class="text-xs-center">
                                    <v-icon small @click="highItem(props.item)">
                                        visibility_off
                                    </v-icon>
                                </td>
                            </template>
                            <template slot="footer">
                                <td colspan="4" class="text-xs-right light-blue white--text">
                                    <span class="subheading">
                                        Last update: {{ lastUpdate }}
                                    </span>
                                </td>
                            </template>
                            <template slot="pageText" slot-scope="props">
                                Row: {{ props.pageStart }} - {{ props.pageStop }} / {{ props.itemsLength }}
                            </template>

                        </v-data-table>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-app>
    </div>

    <!-- Development -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Production -->
    <!-- <script src="js/vue.min.js"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="js/storageApp.js"></script>
    <script src="js/rateDataApp.js"></script>
    <script src="js/main.js"></script>
</body>

</html>